*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
.body{
	background-color: #333;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}
.search-list{
	margin: 35px;
	padding: 10px;
	box-shadow: 0px 0px 15px 1px gold;
	width: 455px;
}
.search{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.int{
	padding: 5px 10px;
	background-color: #323;
	border: 1px solid yellow;
	border-radius: 10px;
	color: gold;
	font-weight: bold;
	outline: none;
}
.music_list{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 30px 40px;
}
.music_item{
	margin: 15px 10px;
}
